In [2]:
import pandas as pd         #packages
import datetime 
import numpy as np

In [36]:
data = pd.read_csv("Probe1_Stripling.csv",skiprows= range(1,17))

data.rename(columns={'Time':'Date'}, inplace=True)
data['Date'] = pd.to_datetime(data['Date']) 
data['Time']= data['Date'].dt.time

data

,Date,Power,sm1,sm2,sm3,sm4,sm5,sm6,sm sum,temp1,temp2,temp3,temp4,temp5,temp6,Time
0,2022-09-14 09:02:06,On,14.08600,7.767,14.67000,14.61100,16.663000,18.101,85.898000,69.0692,71.5496,73.6160,74.5142,75.8084,75.4196,09:02:06
1,2022-09-14 08:34:21,On,14.09000,7.770,14.65900,14.57400,16.667000,18.085,85.845000,68.8694,71.5496,73.6898,74.7014,75.7706,75.5564,08:34:21
2,2022-09-14 08:06:37,On,14.10100,7.773,14.65200,14.58200,16.676000,18.078,85.862000,68.9180,71.6396,73.9310,74.7950,75.7706,75.7562,08:06:37
3,2022-09-14 07:38:37,On,14.08600,7.754,14.64900,14.57400,16.654000,18.074,85.791000,68.8694,71.9132,74.0228,74.8418,75.9146,75.7382,07:38:37
4,2022-09-14 07:10:41,On,14.07200,7.759,14.65600,14.57800,16.622000,18.062,85.749000,69.1160,71.9132,74.0606,74.9732,76.1414,75.7850,07:10:41
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
5856,2022-05-24 02:01:10,On,0.08092,0.000,0.18199,0.15823,0.062052,0.000,0.483192,73.8806,74.3882,73.4324,76.0982,75.2540,75.3962,02:01:10
5857,2022-05-24 01:33:16,On,0.08045,0.000,0.18257,0.15605,0.060934,0.000,0.480004,74.1668,74.5808,73.4810,76.4618,75.5510,75.7184,01:33:16
5858,2022-05-24 01:05:23,On,0.07967,0.000,0.18085,0.15556,0.060459,0.000,0.476539,74.2622,74.5862,73.6268,76.2404,75.6356,75.7184,01:05:23
5859,2022-05-24 00:37:31,On,0.07967,0.000,0.17999,0.15629,0.061093,0.000,0.477043,74.3108,75.1964,73.8212,76.4204,75.7418,76.0406,00:37:31
5860,2022-05-24 00:09:27,On,0.07859,0.000,0.17857,0.15436,0.059985,0.000,0.471505,74.6816,74.9264,74.1110,76.8290,75.9794,76.0496,00:09:27

In [45]:


df = (data.set_index('Date')
          .between_time('04:45:00', '05:15:00')
          .reset_index()
          .reindex(columns=df.columns))

df['Date']=df['Date'].dt.date
df = df.drop_duplicates(subset=['Date'],keep= 'first')
df

,Date,Power,sm1,sm2,sm3,sm4,sm5,sm6,sm sum,temp1,temp2,temp3,temp4,temp5,temp6,Time
0,2022-09-14,On,14.04700,7.727,14.6130,14.50100,16.604000,18.066000,85.558000,69.8216,72.8708,74.6546,75.5924,76.4960,75.8570,04:51:39
1,2022-09-13,On,16.21300,8.440,15.2370,14.72500,16.640000,18.140000,89.395000,73.9310,75.6068,76.4798,76.3412,76.7660,76.1126,05:13:02
3,2022-09-12,On,15.35000,8.175,15.2220,14.68400,16.554000,18.155000,88.140000,73.9688,75.4898,76.0622,76.2476,76.6706,76.0838,05:06:47
4,2022-09-11,On,15.79000,8.332,15.2510,13.95200,16.445000,18.112000,87.882000,73.5116,75.0884,76.1000,76.3412,76.7282,76.1126,05:00:52
5,2022-09-10,On,16.36900,8.485,13.7570,13.27200,16.328000,18.023000,86.234000,75.0740,76.1828,76.8038,76.7156,77.0738,76.5500,04:54:47
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
119,2022-05-28,On,19.56300,11.194,22.2870,27.75700,26.299000,24.316000,131.416000,71.1536,74.9786,77.0054,77.4662,77.7848,76.9208,04:53:18
120,2022-05-27,On,22.10400,11.564,22.6650,28.52700,26.840000,24.206000,135.906000,70.7720,73.1444,74.8004,75.2630,76.1252,75.9290,05:09:27
121,2022-05-26,On,20.80200,11.000,21.9940,27.45900,25.936000,24.141000,131.332000,72.9878,75.5348,77.0720,77.4194,77.9864,77.2772,04:56:48
122,2022-05-25,On,0.02460,0.000,0.7777,0.07615,0.046668,0.000356,0.925474,73.8806,74.4818,73.4324,76.0532,75.2180,75.4880,05:11:18
123,2022-05-24,On,0.08281,0.000,0.1878,0.16141,0.062535,0.000000,0.494555,73.2110,73.9346,72.6584,75.4124,74.7842,74.8922,04:48:55